<div >
    <div class="row justify-content-center align-items-center h-100">
      <!-- Left Column: Image -->
      <!-- <div class="col-lg-8 d-none d-lg-block">
        <img loading="lazy"  fetchpriority="high" 
          src="../../assets/images/gift-tags-with-ribbons-star.jpg"
          alt="Login Image"
          class="img-fluid"
          style="height: 100vh; object-fit: cover;"
        />
      </div> -->
  
      <!-- Right Column: Login Form -->
      <div class=" p-4">
  <!--    
          <div class="text-center mb-4">
            <img loading="lazy"  fetchpriority="high"  src="../../assets/images/logo-text.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
          </div> -->
          <form (ngSubmit)="onSubmit()" [formGroup]="forgomForm">
            <h3 class="text-center">Enter Your Email </h3>
            <p class="text-center" >We will send an email to create a new password</p>
       
         
            <div class="form-message">
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                name="email"
                required
                nz-input
                placeholder="Enter your email"
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary btn-block button-black"
              [disabled]="forgomForm.invalid"
            >
              Send Email
            </button>

          </div>
          </form>
          <div *ngIf="isSent">
            <p>You must verify your email address to regenrate a new password.</p>
            <button
             type="submit"
            class="btn btn-primary btn-block button-black"
          >
            Resend Email
          </button>
          </div>
      </div>
    </div>
  </div>
  